language: node_js
cache:
  yarn: true
notifications:
  email: false
node_js:
  - '8'
  
before_script: npm install --quiet -g gulp-cli
script: gulp build
after_success: gulp coveralls

jobs:
  include:
    - stage: release
      script: gulp release

stages:
  -name: release
  if: branch = master

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
