language: node_js
cache:
  yarn: true
notifications:
  email: false
node_js:
  - '10'
  _ '9'
  - '8'
os:
  - linux
  - osx
env:
  - BUILD_LEADER_ID=7

before_script: npm install --quiet -g gulp-cli

script: gulp build && gulp runDemo

jobs:
  include:
    - stage: release
      node_js: 8
      os: linux
      after_success:
        - gulp coveralls
        - gulp release

stages:
  - name: release
  if: branch = master

branches:
  except:
    - /^v\d+\.\d+\.\d+$/
