language: node_js
cache:
  yarn: true
notifications:
  email: false
node_js:
  - '10'
  - '9'
  - '8'
os:
  - linux
  - osx

before_script: npm install --quiet -g gulp-cli

script: gulp build

jobs:
  include:
    - stage: release
      node_js: 8
      os: linux
      after_success:
        - gulp coveralls
        - gulp release
